/* Base */

:root {
    --yellow-color: #F4F015;
    --gray-color: #dbdbdb8e;;
    --black-color: #010101;
}

@font-face {
  font-family: 'BlenderPro';
  src: url('../fonts/BlenderPro-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BlenderPro';
  src: url('../fonts/BlenderPro-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
}

body.no-scroll {
    overflow: hidden;
    touch-action: none;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 10px 30px;
    position: relative;
}

@media (min-width: 1024px) {
  header {
    padding: 0rem 4rem;
  }
}

.header__side-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1024px) {
    .header__buttons {
        display: flex;
        gap: 1rem;
    }
}

.header__menu-btn,
.header__cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow-color);
    border-radius: 10px;
    width: 42px;
    height: 42px;
}

@media (min-width: 1024px) {
    .header__menu-btn,
    .header__cart-btn {
        width: auto;
        height: auto;
    }
}

.header__catalogue-btn {
    display: none;
}

.header__search-btn {
    display: none;
}

.header__logo {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: var(--black-color);
}

.header__profile-btn {
    display: none;
}

.header__cart-text {
    display: none;
}

@media (min-width: 1024px) {
    .header__menu-btn {
        display: none;
    }

    .header__side-first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 1rem 0rem;
    }

    .header__buttons {
        display: flex;
        gap: 1rem;
    }

    .header__catalogue-btn,
    .header__cart-btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        background: var(--yellow-color);
        border: none;
        font-family: 'BlenderPro', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        color: var(--black-color);
        cursor: pointer;
        transition: all 0.2s ease-in-out
    }

    .header__catalogue-btn:hover,
    .header__cart-btn:hover,
    .header__catalogue-btn:focus,
    .header__cart-btn:focus {
        background: #fff;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    }

    .header__search-btn,
    .header__profile-btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        background: #fff;
        color: var(--black-color);
        border: 1px solid var(--gray-color);
        font-family: 'BlenderPro', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .header__search-btn:hover,
    .header__profile-btn:hover,
    .header__search-btn:focus,
    .header__profile-btn:focus {
        background: var(--yellow-color);
        border-color: var(--yellow-color);
        box-shadow: 0 2px 12px 0 rgba(251, 255, 24, 0.644);
    }

    .header__cart-text {
        display: flex;
    }

    .header__side-second {
        display: none;
    }

    .header__second-catalogue-btn {
        display: none;
    }
}

.header__second-catalogue-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow-color);
    border-radius: 14px;
    width: 100%;
    padding: 1rem;
    position: relative;
}

.header__second-catalogue-img {
    position: absolute;
    left: 18px;
}

.header__second-catalogue-text {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--black-color);
}

/* Mobile-Nav */

.mobile-menu {
    position: absolute;
    display: none;
    width: 100%;
    background: #fff;
    padding: 1rem 0;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    border-bottom: 1px solid #dbdbdb;
    flex-direction: column;
    gap: 1.5rem;
}

.mobile-menu.active {
    display: flex;
}

.mobile-menu__btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mobile-menu__search-btn,
.mobile-menu__profile-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    background: #fff;
    color: var(--black-color);
    border: 1px solid var(--gray-color);
    font-family: 'BlenderPro', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.mobile-menu__catalogue {
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--gray-color);
    border-radius: 1rem;
}

.mobile-menu__catalogue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu__catalogue-title {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.mobile-menu__catalogue-list {
    padding: 0rem;
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.mobile-menu__catalogue-list li:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

.mobile-menu__contacts {
    display: flex;
    flex-direction: column;
}

.mobile-menu__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem;
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.mobile-menu__text {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--black-color);
}

/* Menu-Catalog */

.mobile-menu__catalogue {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    will-change: max-height, opacity;
}

.mobile-menu__catalogue.active {
    max-height: 1000px;
    opacity: 1;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 10px;
    margin-bottom: 5rem;
}

@media (min-width: 1024px) {
  main {
    padding: 0rem 4rem;
  }
}

/* Promo */

.promo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.promo__main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (min-width: 1024px) {
    .promo {
        background-color: var(--gray-color);
        border-radius: 1.5rem;
        padding: 3rem 0rem 3rem 3rem;
    }

    .promo__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .promo__main-img1 {
        order: 3; 
        max-width: 100%;
        height: auto; 
        object-fit: contain;
        width: 30%;
    }

    .promo__text {
        order: 2; 
    }

    .promo__main-img2 {
        order: 1; 
        max-width: 100%;
        height: auto; 
        object-fit: contain;
        width: 30%;
    }
}

.promo__main-img1 {
    display: none;
}

@media (min-width: 1024px) {
  .promo__main-img1 {
    display: flex;
  }
}

.promo__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__label {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 6px;
}

.promo__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 92%;
    margin-bottom: 24px;
}

.promo__title-text {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 92%;
    letter-spacing: 0%;
    color: var(--black-color);
    text-align: center;
    text-transform: uppercase;
}

.promo__title-highlight {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 92%;
    letter-spacing: 0%;
    color: rgba(155, 155, 155, 1);
    text-align: center;
    text-transform: uppercase;
}


.promo__description {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: var(--black-color);
    text-align: center;
}

.promo__description-highlight {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: var(--black-color);
    text-align: center;
}

/* Categories */

.promo__categories {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
}

@media (min-width: 1024px) {
    .promo__categories {
        justify-content: space-between;
        overflow-x: auto;
    }
}

.promo__category {
    display: flex;
    flex: 0 0 auto;
    background: rgba(246, 246, 246, 1);
    border-radius: 16px;
    padding: 17px 16px 0px;
    width: 140px;  
    height: 160px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.promo__category:hover,
.promo__category:focus {
    background-color: var(--yellow-color);
    box-shadow: 0 2px 12px 0 rgba(251, 255, 24, 0.3);
}

@media (min-width: 1024px) {
    .promo__category {
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 28px;
        width: 25rem;
    }
}

.promo__category-title {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1%;
    color: var(--black-color);
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    .promo__category-title {
        align-self: flex-end; 
        margin-bottom: 1em;
        width: 50%;
    }
}

.promo__category-img {
    object-fit: contain;
    display: block;
    position: absolute;
    top: 4rem;
    right: 0rem;
}

/* Catalog */

.books {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.books__title {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: -2%;
    color: var(--black-color);
}

.books__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}

.book-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 160px;
}

.book-card__link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.book-card__images {
    position: relative;
}

@media (min-width: 1024px) {
    .book-card__images {
        background-color: #dbdbdb5e;
        border-radius: 20px;
    }
}

.book-card__image {
    max-width: 100%;
    width: 160px;
    height: 160px;
}

.book-card__labels {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  pointer-events: none; 
}

.book-card__labels-left {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 3px;
}

.book-card__labels-right {
  display: flex;
  align-items: flex-end;
}

.book-card__labels-img {
    height: 20px;
}

.book-card__title {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--black-color);
}

.book-card__price {
    display: flex;
    gap: 10px;
    align-items: center;
}

.book-card__price--current {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--black-color);
}

.book-card__price--old {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 4px;
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 3%;
    text-align: right;
    vertical-align: middle;
    text-decoration: line-through;
    color: var(--black-color);
}

.book-card__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(175, 175, 175, 0.08);
    border-radius: 10px;
    padding: 10px;
    font-family: 'BlenderPro', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--black-color);
    transition: all 0.2s ease-in-out;
}

.book-card__btn:hover,
.book-card__btn:focus {
    background-color: var(--black-color);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
    color: white;
}

.book-card__btn-icon {
    transition: filter 0.2s ease;
}

.book-card__btn:hover .book-card__btn-icon,
.book-card__btn:focus .book-card__btn-icon {
    filter: invert(1) brightness(2);
}

.section-divider {
    border: none;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}

/* Popular */

.popular-books {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.popular-books__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--black-color);
    border-radius: 14px;
    font-family: 'FuturaPT';
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: white;
    margin-top: 13px;
    transition: all 0.2s ease-in-out;
}

.popular-books__btn:hover,
.popular-books__btn:focus {
    background-color: white;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
    color: var(--black-color);
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 20px;
}

@media (min-width: 1024px) {
    footer {
        padding: 4rem;
    }
}

.footer__top {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

@media (min-width: 1024px) {
    .footer__top {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer__logo-lang {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__title {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: uppercase;
    color: var(--black-color);
}

.footer__lang-switch {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.footer__lang-btn {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 105%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--black-color);
    width: 45px;
    height: 45px;
    border: 1.5px solid #dbdbdb;
    background: all 0.2 ease-in-out;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.footer__lang-btn.active,
.footer__lang-btn:hover,
.footer__lang-btn:focus {
    background-color: var(--black-color);
    border-radius: 50%;
    padding: 0.5rem;
    color: white;
}

.footer__columns {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: stretch;
}

@media (min-width: 1024px) {
    .footer__columns {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
}

.footer__column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer__heading {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 110%;
    letter-spacing: 0%;
    color: var(--black-color);
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 110%;
    letter-spacing: 0%;
    color: var(--black-color);
    flex-grow: 1;
    padding: 0px;
}

.footer__text {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--black-color);
}

.footer__payments-btn {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__payments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.footer__contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color);
    border-radius: 14px;
    padding: 20px 50px;
    width: 50%;
    font-family: 'BlenderPro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: all 0.2s ease-in-out;
}

.footer__contact-btn:hover,
.footer__contact-btn:focus {
    background-color: white;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
    color: var(--black-color);
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 1024px) {
    .footer__bottom {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__optional-links {
        order: 2; 
    }

    .footer__copyright {
        order: 1; 
    }

    .footer__dev {
        order: 3;
    }
}

.footer__optional-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1024px) {
    .footer__optional-links {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer__optional-link {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--black-color);
}

.footer__authority {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1024px) {
    .footer__authority {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }

    .footer__copyright {
        order: 1;
    }

    .footer__notice {
        order: 2;
    }
}

.footer__copyright {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--black-color);
}

.footer__notice {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 250;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--black-color);
}

.footer__dev {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__dev-text {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 110%;
    letter-spacing: 0%;
    text-transform: lowercase;
}

@media (min-width: 1024px) {
    .footer__dev {
        flex-direction: row;
    }
}