/* Base */

:root {
    --yellow-color: #f4f015;
    --gray-color: #dbdbdb8e;;
    --black-color: #010101;
}

@font-face {
  font-family: 'BlenderPro';
  src: url('../fonts/BlenderPro-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BlenderPro';
  src: url('../fonts/BlenderPro-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BlenderPro';
  src: url('../fonts/BlenderPro-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
}

body.no-scroll {
    overflow: hidden;
    touch-action: none;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 10px 30px;
    position: relative;
    transition: all 0.3s ease-in-out;
    position: relative;
}

@media (min-width: 1024px) {
  header {
    padding: 18px 64px 0px;
    margin-bottom: 14px;
  }
}

header.active {
    padding-bottom: 15rem;
}

.header__side-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1024px) {
    .header__buttons {
        display: flex;
        gap: 12px;
    }
}

.header__menu-btn,
.header__cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow-color);
    border-radius: 10px;
    width: 42px;
    height: 42px;
}

@media (min-width: 1024px) {
    .header__menu-btn,
    .header__cart-btn {
        width: 228px;
        height: 52px;
    }
}

.header__catalogue-btn {
    display: none;
}

.header__search-btn {
    display: none;
}

.header__logo {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: var(--black-color);
}

@media (min-width: 1024px) {
    .header__logo {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: -2%;
        text-transform: uppercase;
        color: var(--black-color);
    }
}

@media (min-width: 1400px) {
    .header__logo {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 900;
        font-size: 28.6px;
        line-height: 100%;
        letter-spacing: -2%;
        text-transform: uppercase;
        color: var(--black-color);
    }
}

.header__profile-btn {
    display: none;
}

.header__cart-text {
    display: none;
}

@media (min-width: 1024px) {
    .header__menu-btn {
        display: none;
    }

    .header__side-first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 1rem 0rem;
    }

    .header__buttons {
        display: flex;
        gap: 1rem;
    }

    .header__catalogue-btn,
    .header__cart-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border-radius: 14px;
        background: var(--yellow-color);
        border: none;
        font-family: 'BlenderPro', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: var(--black-color);
        width: 168px;
        height: 52px;
        cursor: pointer;
        transition: all 0.2s ease-in-out
    }

    .header__catalogue-btn:hover,
    .header__cart-btn:hover,
    .header__catalogue-btn:focus,
    .header__cart-btn:focus {
        background: #fff;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    }

    .header__search-btn,
    .header__profile-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border-radius: 14px;
        background: #fff;
        border: 1px solid var(--gray-color);
        font-family: 'BlenderPro', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: var(--black-color);
        width: 168px;
        height: 52px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .header__search-btn:hover,
    .header__profile-btn:hover,
    .header__search-btn:focus,
    .header__profile-btn:focus {
        background: var(--yellow-color);
        border-color: var(--yellow-color);
        box-shadow: 0 2px 12px 0 rgba(251, 255, 24, 0.644);
    }

    .header__cart-text {
        display: flex;
    }

    .header__side-second {
        display: none;
    }

    .header__second-catalogue-btn {
        display: none;
    }
}

@media (min-width: 1400px) {
    .header__catalogue-btn,
    .header__cart-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border-radius: 14px;
        background: var(--yellow-color);
        border: none;
        font-family: 'BlenderPro', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: var(--black-color);
        width: 228px;
        height: 52px;
        cursor: pointer;
        transition: all 0.2s ease-in-out
    }

    .header__search-btn,
    .header__profile-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border-radius: 14px;
        background: #fff;
        border: 1px solid var(--gray-color);
        font-family: 'BlenderPro', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: var(--black-color);
        width: 228px;
        height: 52px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
}

.header__second-catalogue-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow-color);
    border-radius: 14px;
    width: 100%;
    padding: 1rem;
    position: relative;
}

.header__second-catalogue-img {
    position: absolute;
    left: 18px;
}

.header__second-catalogue-text {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--black-color);
}

/* Mobile-Nav */

.mobile-menu {
    position: absolute;
    top: 70%;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #fff;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    border-bottom: 1px solid #dbdbdb;
    padding: 8px;
    gap: 20px;
    z-index: 1010;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.mobile-menu.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.mobile-menu__btns {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.mobile-menu__search-btn,
.mobile-menu__profile-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15px;
    border-radius: 14px;
    background: #fff;
    color: var(--black-color);
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-family: 'BlenderPro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.mobile-menu__catalogue {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 18px;
    background-color: var(--gray-color);
    border-radius: 1rem;
    background: rgba(246, 246, 246, 1);
}

.mobile-menu__catalogue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu__catalogue-title {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.mobile-menu__catalogue-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.mobile-menu__catalogue-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 12px 0;
    width: 100%;
}

.mobile-menu__catalogue-link {
    display: block;
    width: 100%;
    text-align: left; 
    text-decoration: none;
    color: #000;
}

.mobile-menu__catalogue-list li:last-child {
    border-bottom: none;
}

.mobile-menu__contacts {
    display: flex;
    flex-direction: column;
}

.mobile-menu__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0rem;
}

.mobile-menu__contacts-link {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 110%;
    letter-spacing: 0%;
    color: var(--black-color);
}

.mobile-menu__contacts {
    margin: 0px;
}

.mobile-menu__text {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 110%;
    letter-spacing: 0%;
    color: var(--black-color);
}

/* Menu-Catalog */

.mobile__catalogue {
    position: absolute;
    top: 35%; 
    left: 0;
    right: 0;
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);
    pointer-events: none;
    background: rgba(246, 246, 246, 1);
    border-radius: 20px;
    transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;
    will-change: max-height, opacity, transform;
    padding: 18px;
    z-index: 1000; 
}

.mobile__catalogue.active {
    max-height: 500px; 
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.mobile__catalogue-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: 0%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.mobile__catalogue-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 12px 0;
    width: 100%;
}

.mobile__catalogue-link {
    display: block;
    width: 100%;
    text-align: left; 
    text-decoration: none;
    color: #000;
}

.mobile__catalogue-list li:last-child {
    border-bottom: none;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 10px;
    margin-bottom: 5rem;
}

@media (min-width: 1024px) {
  main {
    padding: 0px 64px;
    gap: 39px;
  }
}

/* Promo */

.promo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 1024px) {
    .promo {
        background-color: rgba(247, 247, 247, 1);
        border-radius: 26px;
        padding: 48px 0px 48px 48px;
        gap: 20px;
    }
}

.promo__main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (min-width: 1024px) {
    .promo__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.promo__main-img1 {
    display: none;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .promo__main-img1 {
    display: flex;
    order: 3; 
    object-fit: contain;
    max-width: 520px;
    width: 30%;
    height: auto;
  }
}


.promo__main-img2 {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1024px) {
    .promo__main-img2 {
        display: flex;
        order: 1; 
        object-fit: contain;
        max-width: 520px;
        width: 30%;
        height: auto;
    }
}

@media (min-width: 1024px) {
  .promo__main-img1,
  .promo__main-img2 {
    flex-shrink: 1;
    min-width: 0;
  }
}

.promo__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1024px) {
    .promo__text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        order: 2; 
        width: 400px;
    }
}

@media (min-width: 1400px) {
    .promo__text {
        order: 2; 
        width: 600px;
    }
}

.promo__label {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 6px;
}

@media (min-width: 1024px) {
    .promo__label {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 10%;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        text-transform: uppercase;
    }
}

@media (min-width: 1400px) {
    .promo__label {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 10%;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        text-transform: uppercase;
    }
}

.promo__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 92%;
    margin-bottom: 24px;
}

.promo__title-text {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 92%;
    letter-spacing: 0%;
    color: var(--black-color);
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    .promo__title-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'BlenderPro', sans-serif;
        font-weight: 900;
        font-size: 30px;
        line-height: 92%;
        letter-spacing: 0%;
        color: var(--black-color);
        text-align: center;
        text-transform: uppercase;
    }
}

@media (min-width: 1200px) {
    .promo__title-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'BlenderPro', sans-serif;
        font-weight: 900;
        font-size: 34px;
        line-height: 92%;
        letter-spacing: 0%;
        color: var(--black-color);
        text-align: center;
        text-transform: uppercase;
    }
}

@media (min-width: 1400px) {
    .promo__title-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'BlenderPro', sans-serif;
        font-weight: 900;
        font-size: 38px;
        line-height: 92%;
        letter-spacing: 0%;
        color: var(--black-color);
        text-align: center;
        text-transform: uppercase;
    }
}

@media (min-width: 1600px) {
    .promo__title-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'BlenderPro', sans-serif;
        font-weight: 900;
        font-size: 52px;
        line-height: 92%;
        letter-spacing: 0%;
        color: var(--black-color);
        text-align: center;
        text-transform: uppercase;
    }
}

.promo__gif {
    display: none;
}

@media (min-width: 1024px) {
    .promo__gif {
        display: flex;
        width: 41px;
        height: 41px;
    }
}

@media (min-width: 1400px) {
    .promo__gif {
        display: flex;
        width: 51px;
        height: 51px;
    }
}

@media (min-width: 1600px) {
    .promo__gif {
        display: flex;
        width: 61px;
        height: 61px;
    }
}

.promo__title-highlight {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 92%;
    letter-spacing: 0%;
    color: rgba(155, 155, 155, 1);
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    .promo__title-highlight {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 30px;
        line-height: 92%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        color: rgba(155, 155, 155, 1);
        text-align: center;
        text-transform: uppercase;
    }
}

@media (min-width: 1200px) {
    .promo__title-highlight {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 34px;
        line-height: 92%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        color: rgba(155, 155, 155, 1);
        text-align: center;
        text-transform: uppercase;
    }
}

@media (min-width: 1400px) {
    .promo__title-highlight {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 38px;
        line-height: 92%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        color: rgba(155, 155, 155, 1);
        text-align: center;
        text-transform: uppercase;
    }
}

@media (min-width: 1600px) {
    .promo__title-highlight {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 52px;
        line-height: 92%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        color: rgba(155, 155, 155, 1);
        text-align: center;
        text-transform: uppercase;
    }
}

.promo__text-label {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    width: 350px;
}

@media (min-width: 1024px) {
    .promo__text-label {
        width: 400px;
    }
}

@media (min-width: 1400px) {
    .promo__text-label {
        width: auto;
    }
}

.promo__description {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: var(--black-color);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1024px) {
    .promo__description {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .promo__description {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .promo__description {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        width: 100%;
    }
}

@media (min-width: 1600px) {
    .promo__description {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        width: 100%;
    }
}

.promo__description-highlight {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: var(--black-color);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1024px) {
    .promo__description-highlight {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .promo__description-highlight {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }
}

@media (min-width: 1400px) {
    .promo__description-highlight {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }
}

@media (min-width: 1600px) {
    .promo__description-highlight {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
    }
}

/* Categories */

.promo__categories {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
    margin-left: -8px;
    margin-right: -8px;
}

@media (min-width: 1024px) {
    .promo__categories {
        gap: 10px;
        overflow-x: auto;
    }
}

.promo__category {
    display: flex;
    flex: 0 0 auto;
    background: rgba(246, 246, 246, 1);
    border-radius: 16px;
    padding: 17px 16px 0px;
    width: 140px;  
    height: 160px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.promo__category:hover,
.promo__category:focus {
    box-shadow: inset 0 0 0 2px rgb(244, 240, 21);
}

@media (min-width: 1024px) {
    .promo__category {
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 28px;
        width: 316px;
        height: 120px;
        padding: 24px;
    }
}

@media (min-width: 1400px) {
    .promo__category {
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 28px;
        width: 416px;
        height: 160px;
        padding: 24px;
    }
}

@media (min-width: 1024px) {
    .promo_category-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.promo__category-arrow {
    display: none;
}

@media (min-width: 1024px) {
    .promo__category-arrow {
        display: flex;
        width: 11px;
        height: 11px;
    }
}

.promo__category-title {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1%;
    color: var(--black-color);
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    .promo__category-title {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: -1%;
        text-transform: uppercase;
        align-self: flex-end; 
        max-width: 160px;
    }
}

@media (min-width: 1400px) {
    .promo__category-title {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -1%;
        text-transform: uppercase;
        align-self: flex-end; 
        max-width: 240px;
    }
}

.promo__category-img {
    object-fit: contain;
    display: block;
    position: absolute;
    top: 4rem;
    right: 0rem;
}

@media (min-width: 1024px) {
    .promo__category-img {
        object-fit: contain;
        display: block;
        position: absolute;
        top: 8px;
        right: 0px;
}
}

/* Catalog */

.books {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 1024px) {
    .books {
        gap: 30px;
    }
}

.books__title {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: -2%;
    color: var(--black-color);
}

@media (min-width: 1024px) {
    .books__title {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 45px;
        line-height: 110%;
        letter-spacing: -2%;
    }
}

.books__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}

@media (min-width: 1024px) {
    .books__grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.book-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

@media (min-width: 1024px) {
    .book-card {
        gap: 18px;
    }
}

.book-card__link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.book-card__link:hover .book-card__images,
.book-card__link:focus .book-card__images {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
    border-radius: 13px;
    transform: scale(1.001);
}

.book-card__link:hover .book-card__title,
.book-card__link:focus .book-card__title {
    color: #EB4324;
}

.book-card__images {
    position: relative;
    transition: all 0.2s ease-in-out;
}

@media (min-width: 1024px) {
    .book-card__images {
        background-color: #dbdbdb5e;
        border-radius: 20px;
    }
}

.book-card__image {
    width: 100%;
    border-radius: 13px;
    transition: all 0.2s ease-in-out;
}

.book-card__labels {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 0px 0px;
  pointer-events: none; 
}

@media (min-width: 1024px) {
    .book-card__labels {
        padding: 10px;
        height: 100%;
    }
}

.book-card__labels-left {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 3px;
}

@media (min-width: 1024px) {
    .book-card__labels-left {
        justify-content: flex-end;
    }
}

.book-card__labels-right {
  display: flex;
  align-items: flex-end;
}

@media (min-width: 1024px) {
    .book-card__labels-right {
        position: absolute;
        top: 10px;
        right: 0px;
    }
}

.book-card__labels-img {
    height: 20px;
}

.book-card__title {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--black-color);
    transition: all 0.2s ease-in-out;
}

@media (min-width: 1024px) {
    .book-card__title {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
    }
}

.book-card__price {
    display: flex;
    gap: 10px;
    align-items: center;
}

.book-card__price--current {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--black-color);
}

@media (min-width: 1024px) {
    .book-card__price--current {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
    }
}

.book-card__price--old {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 4px;
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 3%;
    text-align: right;
    vertical-align: middle;
    text-decoration: line-through;
    color: var(--black-color);
}

@media (min-width: 1024px) {
    .book-card__price--old {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 3%;
        text-align: right;
        vertical-align: middle;
        text-decoration: line-through;
    }
}

.book-card__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(175, 175, 175, 0.08);
    border-radius: 10px;
    padding: 10px;
    font-family: 'BlenderPro', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--black-color);
    transition: all 0.2s ease-in-out;
}

.book-card__btn:hover,
.book-card__btn:focus {
    background-color: var(--black-color);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
    color: white;
}

@media (min-width: 1024px) {
    .book-card__btn {
        padding: 20px;
        border-radius: 20px;
        font-family: 'BlenderPro', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
    }
}

.book-card__btn-icon {
    transition: filter 0.2s ease;
}

.book-card__btn:hover .book-card__btn-icon,
.book-card__btn:focus .book-card__btn-icon {
    filter: invert(1) brightness(2);
}

.section-divider {
    border: none;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    margin: 0px;
}

/* Popular */

.popular-books {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

@media (min-width: 1024px) {
    .books__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.popular-books__btn-header {
    display: none;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .popular-books__btn-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background-color: var(--black-color);
        border-radius: 14px;
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: white;
        margin-top: 13px;
        width: 280px;
        transition: all 0.2s ease-in-out;
    }
}

.popular-books__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--black-color);
    border-radius: 14px;
    font-family: 'FuturaPT';
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: white;
    margin-top: 13px;
    width: 350px;
    transition: all 0.2s ease-in-out;
}

.popular-books__btn:hover,
.popular-books__btn:focus {
    background-color: white;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
    color: var(--black-color);
}

@media (min-width: 200px) {
    .popular-books__btn {
        width: 70%;
    }
}

@media (min-width: 450px) {
    .popular-books__btn {
        width: 350px;
    }
}

@media (min-width: 1024px) {
    .popular-books__btn {
        display: none;
    }
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 20px;
}

@media (min-width: 1024px) {
    footer {
        padding: 64px;
    }
}

.footer__top {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

@media (min-width: 1024px) {
    .footer__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer__logo-lang {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1024px) {
    .footer__logo-lang {
        gap: 60px;
    }
}

.footer__title {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: uppercase;
    color: var(--black-color);
}

@media (min-width: 1024px) {
    .footer__title {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
    }
}

.footer__lang-switch {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.footer__lang-btn {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 105%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--black-color);
    width: 45px;
    height: 45px;
    border: 1.5px solid #dbdbdb;
    background: all 0.2 ease-in-out;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.footer__lang-btn.active,
.footer__lang-btn:hover,
.footer__lang-btn:focus {
    background-color: var(--black-color);
    border-radius: 50%;
    padding: 0.5rem;
    color: white;
}

@media (min-width: 1024px) {
    .footer__lang-btn {
        font-family: 'BlenderPro', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 105%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.footer__columns {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 1024px) {
    .footer__columns {
        display: flex;
        gap: 10px;
        width: auto;
    }
}

@media (min-width: 1400px) {
    .footer__columns {
        display: flex;
        gap: 80px;
        width: auto;
    }
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}

@media (min-width: 1024px) {
    .footer__column {
        width: 200px;
    }
}

.footer__heading {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 110%;
    letter-spacing: 0%;
    color: var(--black-color);
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 110%;
    letter-spacing: 0%;
    color: var(--black-color);
    flex-grow: 1;
    padding: 0px;
    margin: 0px;;
}

.footer__link {
    transition: all 0.2s ease-in-out;
}

.footer__link:hover,
.footer__link:focus {
    color: #EB4324;
    text-decoration: underline #EB4324;
}

.footer__text {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--black-color);
}

.footer__payments-btn {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (min-width: 1024px) {
    .footer__payments-btn {
        align-items: flex-end;
    }
}

.footer__payments {
    display: flex;
    gap: 24px;
    align-items: center;
}


@media (min-width: 300px) {
    .footer__payments img {
        width: 20%;
    }
}

@media (min-width: 450px) {
    .footer__payments img {
        width: auto;
    }
}

@media (min-width: 1024px) {
    .footer__payments img {
        width: 20%;
    }
}

@media (min-width: 1401px) {
    .footer__payments {
        gap: 54px;
    }
}

.footer__contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color);
    border-radius: 14px;
    padding: 20px 50px;
    width: 50%;
    font-family: 'BlenderPro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    width: 200px;
    transition: all 0.2s ease-in-out;
}

.footer__contact-btn:hover,
.footer__contact-btn:focus {
    background-color: white;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
    color: var(--black-color);
}

@media (min-width: 1024px) {
    .footer__contact-btn {
        width: auto;
    }
}

@media (min-width: 1400px) {
    .footer__contact-btn {
        width: 50%;
    }
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 1024px) {
    .footer__bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__optional-links {
        order: 2; 
    }

    .footer__copyright {
        order: 1; 
    }

    .footer__dev {
        order: 3;
    }
}

.footer__optional-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1024px) {
    .footer__optional-links {
        flex-direction: row;
        justify-content: space-between;
        order: 2;
        width: 20%;
    }
}

.footer__optional-link {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--black-color);
    transition: all 0.2s ease-in-out;
}

.footer__optional-link:hover,
.footer__optional-link:focus {
    color: #EB4324;
    text-decoration: underline #EB4324;
}

.footer__authority {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 1024px) {
    .footer__authority {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 94px;
        order: 1;
        width: 40%;
    }

    .footer__copyright {
        order: 1;
    }

    .footer__notice {
        order: 2;
    }
}

.footer__copyright {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--black-color);
}

@media (min-width: 1024px) {
    .footer__copyright {
        order: 3;
    }
}

.footer__notice {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 250;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--black-color);
}

.footer__dev {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1024px) {
    .footer__dev {
        gap: 6px;
    }
}

.footer__dev-text {
    font-family: 'BlenderPro', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 110%;
    letter-spacing: 0%;
    text-transform: lowercase;
}

@media (min-width: 1024px) {
    .footer__dev {
        flex-direction: row;
        font-family: 'BlenderPro', sans-serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 110%;
        letter-spacing: 0%;
        text-transform: lowercase;
    }
}